.body{
  font-family: 'Poppins', sans-serif;
}
.tick line{
  stroke: #C0C0BB;
}

.tick text{
  fill: #8e8883;
}
.mark{
  fill: #137B80;
}
.axis-label, .dropdown-label{
  font-size: 2.5em;
  color: #8e8883;
}
.dropdown-label{
  margin-left: 50px;
  /* margin-right: 5px; */
}
.Dropdown-root{
  font-size: 1.5em;
  width: 300px;
  display: inline-block;
}

.Dropdown-menu{
  max-height: 400px;
}

.menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-right: 60px;
}